<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="abee69">  <td>21/12/20 00:31:42</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestNgBasics.login()[pri:0, instance:Demo.TestNgBasics@6321e813]">login</td> 
  <td>main@1166807841</td>   <td></td> </tr>
<tr bgcolor="abee69">  <td>21/12/20 00:31:31</td>   <td>-10519</td> <td>&nbsp;</td><td title="&gt;&gt;TestNgBasics.setUpTest()[pri:0, instance:Demo.TestNgBasics@6321e813]">&gt;&gt;setUpTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1166807841</td>   <td></td> </tr>
</table>
